.headshot {
    border-radius: 370px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    margin-top: 10px;
}

.services-section {
    background-color: #606c38;
    padding-top: 40px;
    padding-bottom: 40px;
}