.headshot {
    border-radius: 5px;
    box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 60px;
}

.services-section {
    background-color: #606c38;
    padding-top: 40px;
    padding-bottom: 40px;
}