.custom-jumbotron {
    padding: 100px 0;
    background-image: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #ffffff !important;
    font-weight: bold !important;
    font-family: 'Lobster', cursive;
}

.lead {
    color: #ffffff !important;
    font-weight: bold !important;
    font-family: 'Open Sans', sans-serif;
}